button {
  padding: 8px 16px;
  text-transform: uppercase;
  background-color: tomato;
  color: aliceblue;
  cursor: pointer;
  margin: 8px 16px;
}
button:active {
  background-color: orangered;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.content {
  border-left: 1px solid steelblue;
  border-right: 1px solid steelblue;
  overflow: hidden;
  background-color: black;
  flex: 3;
  padding: 16px;
}
.sidebar {
  background-color: aquamarine;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid-board {
  display: grid;
  height: 100%;
  border: 1px solid wheat;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(auto-fit, 40px);
  justify-content: center;
  align-content: center;
}

.grid-item {
  border: 1px solid snow;
}

.grid-item.grid-true {
  background-color: brown;
}
